@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<style>
    .button-container {
        display: inline-block;
        margin-right: 100px;
        margin-top: 50px;
        text-align: center;
    }

    .button-img {
        vertical-align: middle;
        margin: auto;
        display: block;
    }
    h5{
        text-align: center;
    }
</style>

<h5 text-align=center>Ola seja bem vindo selecione as opções abaixo para acessar o sistema!</h5>

<div class="button-container">
    <form method="post" action="#">
        <input type="image" src="~/Images/Engrenagem.jpg" width="100" height="100" class="button-img">
        <a href="pagina_administracao.html">Administração</a>
    </form>
</div>

<div class="button-container">
    <form method="post" action="#">
        <input type="image" src="~/Images/RH.png" width="100" height="100" class="button-img">
        <a href="pagina_rh.html">Recursos Humanos</a>
    </form>
</div>

<div class="button-container">
    <form method="post" action="#">
        <input type="image" src="~/Images/Maquina.jpg" width="100" height="100" class="button-img">
        <a href="Maquina.html">Maquinas</a>
    </form>
</div>